html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: #7775;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
  transition: 0.5s;
}

::-webkit-scrollbar-track {
  background-color: #5555;
  margin-right: 10em;
}

::-webkit-scrollbar-track:hover {
  background-color: #555;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.body {
  background-color: #a4dc8b;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

.nav {
  background-color: #2b6575;
}

.mall-container {
  background-image: linear-gradient(to left top, #00a0ac, #a4dc8b);
  width: 100%;
  font-family: "Playfair Display", serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  min-width: 100vw;
  overflow-x: hidden;
}

.card-item {
  --padding: 1rem;
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #e1f8d4;
  transition: 500ms;
  transform: translateY(var(--translate-y, 0));
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  font-family: "Times New Roman", Times, serif;
}

.card-item:hover {
  --translate-y: -7px;
}

.card-item.card-shadow {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  width: 350px;
  height: fit-content;
}

.card-item-header {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.card-item-header.card-item-image {
  padding: 0;
  overflow: hidden;
  height: 200px;
  
}

.card-item-header.card-item-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card-item:hover > .card-item-header.card-item-image > img {
  transform: scale(1.2);
}

.card-item-body {
  font-size: 0.9rem;
  padding: 0 var(--padding);
  height: fit-content;
}

.card-item-footer {
  
  margin-top: 1rem;
  padding: var(--padding);
  padding-top: 0;
}

.bton {
  --color: hsl(200, 50%, 50%);
  background: var(--color);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.bton:hover,
.bton:focus {
  background: hsl(200, 50%, 60%);
}

.bton.bton-outline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}
.bton.bton-outline:hover,
.bton.bton-outline:focus {
  background: hsl(200, 50%, 90%);
}
.bton + .bton {
  margin-left: 0.25rem;
}

.chat-bubble {
  border-radius: 7px;
  border-color: #333;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

.heartbeat:hover {
  animation: heartbeat 1.2s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


