html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: #7775;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999;
  transition: 0.5s;
}

::-webkit-scrollbar-track {
  background-color: #5555;
  margin-right: 10em;
}

::-webkit-scrollbar-track:hover {
  background-color: #555;
}

body {
  background-color: #333;
  color: #ccc;
}
.card-item {
  --padding: 1rem;
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card-item.card-shadow {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-item-header {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.card-item-header.card-item-image {
  padding: 0;
  overflow: hidden;
}

.card-item-header.card-item-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card-item:hover > .card-item-header.card-item-image > img {
  transform: scale(1.2);
}

.card-item-body {
  font-size: 0.9rem;
  padding: 0 var(--padding);
}

.card-item-footer {
  margin-top: 1rem;
  padding: var(--padding);
  padding-top: 0;
}

.bton {
  --color: hsl(200, 50%, 50%);
  background: var(--color);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.bton:hover,
.bton:focus {
  background: hsl(200, 50%, 60%);
}

.bton.bton-outline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}
.bton.bton-outline:hover,
.bton.bton-outline:focus {
  background: hsl(200, 50%, 90%);
}
.bton + .bton {
  margin-left: 0.25rem;
}

.chat-bubble {
  border-radius: 7px;
  border-color: #333;
  width: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
} 
